<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Congratulations | test page</title>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
</head>


<body>
	<div class="container">
		<div class="hero">
			<div style="text-align:center;">
                {{message}}
				{{torch_test}}
				{{out_temp}}
				{{blob_to_upload}}
				predicted_image=
				{{predicted_img}}
				envelope=
				{{envelope}}
			</div>
        </div>
    </div>
</body>